<div class="row">
    <div class="shadow-lg col-sm-4 p-3" id="cont">
        <div class="card" >
            <div class="card-img-wrapper">
                <img *ngIf="property.Image" class="Propimage" src="assets/images/{{property.Image}}.jpeg">
                <img *ngIf="!property.Image" class="Propimage" src="assets/images/house.jpg">
                <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
                    <li class="list-inline-item">
                        <button class="btn btn-primary" routerLink="/property-detail/{{property.Id}}" >
                            <i class="fa-solid fa-pen-to-square" ></i>
                        </button>
                    </li>
                    <li class="list-inline-item">
                        <button class="btn btn-primary">
                            <i class="fa-solid fa-address-card"></i>
                            
                        </button>
                    </li>
                </ul>
            </div>
            
            <div class="card-body p-2">
                <h1>{{property.Name}}</h1>
                <h2>{{property.Id}}</h2>
                <h3>{{property.PType}}</h3>
                <h4>{{property.Price}}</h4>
              
            </div>
            
        </div>
    </div>
    
   
</div>
